*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$base-color: #35383a;

html {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  background-color: $base-color;
}

h1 {
  color: transparent;
  position: absolute;
  left: -4000px;
}

h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

section {
  height: 100vh;
  border: 2px solid black;
  padding-left: 15%;
}

.welcome {
  background-image: url(/assets/pale-blue-dot.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/*Header and Nav styles start*/

header {
  display: flex;
  position: absolute;
  width: 100%;
  color: white;


  .logo {
    height: 100px;
    margin-left: 3rem;
    flex-grow: 1;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .main-nav {
    flex-grow: 1;
    align-items: right;
  }

  ul {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-right: 3rem;


    li {
      list-style: none;
      height: fit-content;
      border: 1px solid transparent;
      border-radius: 4px;
      margin: 2rem 1rem;
      padding: 0.8rem 0.6rem;
      text-transform: uppercase;
      transition: border 100ms ease-in;

      &:hover {
        border: 1px solid white;
        transition: border 100ms ease-in;
      }

      a {
        text-decoration: none;
        color: white;
        letter-spacing: 0.1rem;
      }
    }

  }
}

/*Welcome Section*/

.welcome {
  display: flex;
  color: white;
}

.welcome-wrapper {
  align-self: center;
  width: 50vw;


  p {
    font-size: 4rem;
    font-weight: bold;
  }

  .start-btn {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    padding: 0.5rem 2rem;
  }
}

.socials {
  list-style: none;
  position: absolute;
  right: 1rem;
  top: calc(50% - 150px);

  li {
  margin: 3rem;


    a {
      text-decoration: none;
      color: white;
      display: block;
      padding: 0.8rem;
      border: 1px solid white;
      border-radius: 50%;
    }
  }
}

.scroll-prompt {
  position: absolute;
  bottom: 0;
  right: 6rem;

  &:before {
    content: "";
  }
}